{% extends "layout.html.twig" %}
{% block content %}
	<section class="page-top-section">
		<div class="container">
			<div class="page-info-box">
				<div class="page-info-icon">
					<i class="fa fa-headphones"></i>
				</div>
				<div class="page-info-text">
					<h2>Albums</h2>
					<div class="site-breadcrumb">
						<a href="/">Home</a>
						<span>Albums</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="albums__page">
		<div class="container">
			<div class="albums__page__title">
				<h2>Discover our newest musicalbums and singles</h2>
			</div>
			<div class="row">
				{% set npag = app.request.attributes.get('pg') %}
				{% set lowerLimit = (npag - 1) * items %}
				{% set upperLimit = lowerLimit + items + 1 %}
				{% for i in contenido %}
					{% if loop.index > lowerLimit and loop.index < upperLimit %}
						<div class="col-lg-4 col-md-6">
							<div class="album_card">
								<div class="album__pic">
									<img src="{{ asset(i.imagen, 'images_album') }} " alt="imagen album">
									<div class="album__title">
										<div class="album_title_inner">
											<h4>{{i.titulo}}</h4>
											<p>{{i.genero}}</p>
										</div>
									</div>
								</div>
								<div class="album__links">
									<a href="#"><img src="{{ asset('google-play.png', 'images') }}" alt=""></a>
									<a href="#"><img src="{{ asset('itune.png', 'images') }}" alt=""></a>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}

				{% set gener = app.request.attributes.get('gen') %}
				<div class="site__pagination">
					{% if npag != 1 %}
						<a href='{{ path('productos',{ 'gen':gener, 'pg': npag - 1 }) }}' class="next-page">Prev</a>
					{% endif %}
					{% set paginado = ((contenido|length)/3)|round(0,'ceil') %}
					{% for i in 1.. paginado %}
						<a href='{{ path('productos',{ 'gen':gener, 'pg': i }) }}' {% if npag == i %} class="active" {% endif %}>{{i}}</a>
					{% endfor %}
					{% if npag != paginado %}
						<a href='{{ path('productos',{ 'gen':gener, 'pg': npag + 1 }) }}' class="next-page">Next</a>
					{% endif %}
				</div>
				<div class="site__pagination">
					{% set genres_length = (genres|length - 1 ) %}
					{% for i in 0.. genres_length %}
						<a href='{{ path('productos',{ 'gen': genres[i] }) }}' {% if gener == genres[i] %} class="active" {% endif %}>{{genres[i]}}</a>
					{% endfor %}
					<a href='{{ path('productos',{ 'gen': 'all' }) }}' {% if gener == 'all' %} class="active" {% endif %}>TODOS</a>
				</div>
			</div>
		</section>
	{% endblock %}
